<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>LMAO</title>
    <style>
    div {
  background-color: azure;
  width: 300px;
  padding: 50px;
  margin: 20px;
}
</style>
  </head>
  <body>
    <h1 style="color: fuchsia">Latest headlines</h1>
      {% for new in news['articles'] %}
          {% if f == '1' %}
              <h1><a href="{{new['url']}}">{{new.title}}</a><p>
              <h2>Published at {{new['publishedAt']}}</h2>
              <div><h1>{{new['description']}}</h1></div>
              <br/>
          {% else %}
              <p><a href="{{new['url']}}">{{new.title}}</a><p>
              <p>Published at {{new['publishedAt']}}</p>
              <div><p>{{new['description']}}</p></div>
              <br/>
          {% endif %}
      {% endfor %}
      <footer>
    <p><a href="https://github.com/Amazeryogo/newsbutbigger">source code</a></p>
  </footer>
  </body>
</html>

